* {
	cursor:default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
	                              supported by Chrome and Opera */
}

#number {
	float:left;
	font-size:30px;
	width:75px;
	cursor:hand;
}

.generator_container {
	float:left;
	margin-top:10px;
	margin-right:10px;
}

.generator_container .bar {
	background-color:blue;
	color:white;
	font-size:16px;
	text-align: center;
	height:0px;
	/*vertical-align:middle;*/

	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.generator_container .preview {
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.generator {
	border: 1px solid black;
	padding: 5px;
}

#upgrades, #generators {
	clear:both;
}

.upgrade {
	width:200px;
	border: 1px solid black;
	padding: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}

.generator button {

}